body {
    font-family: Calibri,sans-serif;
    background-color: black;
    font-size: 14px;
}

.default #info {
  border: 1px white solid;
  border-radius: 10px;
  width: 1000px;
  color: black;
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  margin-left: -520px;
  background-color: white;
}

#info > div.info {
  width: 33%;
  float: left;
  margin: 3px 0;
}

b {
    font-weight: bold;
}

#info h2 {
    font-size: 1.2rem;
    margin-bottom: 4px;
}
.wide #info h2 {
    font-size: 1.5rem;
}

#info h2 a {
    text-decoration: none;
}
#info a {
    color: black;
}

#info #donate {
    color: gray;
    font-size: 0.75rem;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
#info #refresh {
    float: right;
    cursor: pointer;
}
#info #import {
    float: right;
    margin-right: 4px;
}

#info .chart {
    float: left;
    width: 100%;
}
#info #btc_chart {
    margin-top: 5px;
}
#info #icons {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 1.12rem;
}
#info #icons span, #info #icons a {
    margin-left: 5px;
    opacity: 0.6;
    cursor: pointer;
}
#info #icons span:hover, #info #icons a:hover {
    opacity: 1;
}

/* Wide theme */
body.wide {
    background-color: white;
    font-size: 20px;
}

.wide #info {
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 10px 20px;
    background-color: white;
    margin: 0 auto;
    color: black;
    box-sizing: border-box;
}
/* End wide theme */

/* Mobile theme */
body.mobile {
    background-color: white;
    font-size: 12px;
    padding: 5px 5px 30px 5px;
}
.mobile #info > div.info {
    width: 100%;
    float: left;
    margin: 3px 0;
    padding: 0;
}

.mobile #info h2 {
    font-size: 1.0rem;
    margin-bottom: 4px;
}
.mobile #info #icons {
    position: static;
}
.mobile #info h2 span {
    float: none;
}
.mobile #info #refresh, .mobile #info #import {
    float: none;
    display: block;
}

/* End mobile theme */

#darkness {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
}

#darkness #settingsDiv, #darkness #emailDiv, #darkness #aboutDiv {
    display: none;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 450px;
    margin-left: -150px;
    margin-top: -230px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 4px #FFFFFF;
    padding: 10px;
    box-sizing: border-box;
}
#darkness #emailDiv {
    height: 150px;
    margin-top: -75px;
}
#darkness #aboutDiv {
    width: 700px;
    margin-left: -350px;
    font-size: 0.8rem;
    height: 400px;
    margin-top: -200px;
}
#darkness #aboutDiv img {
    float: left;
    margin: 0 15px 15px 0;
}
#darkness p {
    display: block;
    margin: 15px 0;
}
#darkness a {
    color: black;
}

#darkness h3 {
    font-size: 1.3rem;
}
#darkness label {
    width: 100%;
    display: block;
    margin-top: 5px;
}

#darkness input[type=text],#darkness input[type=email], #darkness select {
    width: calc(100% - 10px);
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
}

#darkness h4 {
    font-size: 1.05rem;
    margin-top: 5px;
}

#darkness button {
    margin-top: 10px;
}

@media (min-height:800px) {
    .default #info {
      top: 50%;
      margin-top: -400px;
    }
}
@media (max-width:750px) {
    #darkness #settingsDiv, #darkness #emailDiv, #darkness #aboutDiv {
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 0.8rem;
        top: 0;
        left: 0;
        overflow-y: scroll;
    }
}

:-webkit-full-screen #icons {
	display: none;
}
:-moz-full-screen h2 #icons {
	display: none;
}
